<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Choose Airport</mat-label>
        <mat-select>
          <mat-option *ngFor="let airport of AirportNames" [value]="airport.name" (click)="onSelect(airport.name)">
            {{airport.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      </div>
    <div class="row">
      <div class="col-md-6>">
        <mat-form-field>
        <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
        </mat-form-field>
      </div>
    </div>

</div>
